<h3>Name: <%= @f5_persist_list.name %></h3>

<p id="notice"><%= notice %></p>

<%= datatable('f5_persist_records', { :tmm => { :type => 'integer', :label => 'TMM'},
																		 	:mode => { :type => 'string', :label => 'Mode'},
																		 	:value => { :type => 'string', :label => 'Value'},
																			:age => { :type => 'integer', :label => 'Age'},
																			:virtual_name => { :type => 'string', :label => 'Virtual Name' },
																			:virtual_addr => { :type => 'string', :label => 'Virtual Addr' },
																			:node_addr => { :type => 'string', :label => 'Node Addr' },
																			:pool_name => {:type => 'string', :label => 'Pool Name' },
																			:client_addr => {:type => 'string', :label => 'Client Addr' }
																	 	}) %>

<%= link_to 'Back', f5_persist_lists_path %>
